.navbar.navbar-default.navbar-fixed-top.animated.fadeInDown
	.container
		.navbar-header
			button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-driblesfifa')!= 'Menu'
			a.navbar-brand(href='#home')
				= 'Dribles '
				span.fifa-text= 'FIFA'
				span.fifa-year= '15'
		.collapse.navbar-collapse.navbar-driblesfifa
			ul.nav.navbar-nav
				li.active
					a(href='#home')= 'Home'
				li
					a(href='#skills')='Dribles'
				li
					a(href='#celebrations')='Comemorações'
				li
					a(href='#instructions')='Instruções'
