mixin movementsFilter(obj, listId)

	- var hasNew = false
	each item in obj.movements
		if item.new === 1
			- hasNew = true

	-
		var options = []
		options.push('Todos')
	if hasNew
		- options.push('Novos')
	each item in obj.types
		- options.push(item)

	.btn-group.float-right
		button.btn.btn-primary.btn-sm.btn--filter.dropdown-toggle.js-filter-current(type='button', data-toggle='dropdown')= 'Todos'
		.dropdown-menu.dropdown-menu-right
			each option, index in options
				a.dropdown-item.js-filter(class=(index === 0 ? 'active' : ''), href='#', data-list=listId, data-filter=option, ga-on='click', ga-event-category=site.name, ga-event-action='Filtro', ga-event-label=listId + ' ' + option)= option
				if (option === 'Todos' || option === 'Novos')
					.dropdown-divider
