.section.row#home
	.col-xs-12.col-sm-8.col-sm-offset-2
		.btn-group.videogames
			a.btn.btn-primary.active#xbox(href='#')= 'Xbox'
			a.btn.btn-primary#ps(href='#')= 'PlayStation'
		.list-group.list-group--home
			a.list-group-item(href='#skills')
				span.glyphicon.glyphicon-chevron-right
				= 'Dribles'
			a.list-group-item(href='#celebrations')
				span.glyphicon.glyphicon-chevron-right
				= 'Comemorações'
			a.list-group-item.js-link-tutorials(href='#tutorials')
				span.glyphicon.glyphicon-chevron-right
				= 'Tutoriais'
			a.list-group-item(href='#about')
				span.glyphicon.glyphicon-chevron-right
				= 'Sobre'
		.share.m-t.p-t
			h1= 'Compartilhe:'
			.row
				.col-xs-4
					a.btn.btn-block.btn--facebook.js-link-share(href='https://www.facebook.com/sharer/sharer.php?u=http://saviomd.com/driblesfifa/', target='_blank', title='Facebook')= 'f'
				.col-xs-4
					a.btn.btn-block.btn--twitter.js-link-share(href='https://twitter.com/intent/tweet?url=http://saviomd.com/driblesfifa/&text=Dribles FIFA: Guia de bolso (e smartphone) p/ parte mais legal do FIFA', target='_blank', title='twitter')= 't'
				.col-xs-4
					a.btn.btn-block.btn--googleplus.js-link-share(href='https://plus.google.com/share?url=http://saviomd.com/driblesfifa/', target='_blank', title='Google+')= 'G+'
